* {
    line-height: 1.2;
    margin: 0;
}

html {
    color: #ffffff;
    display: table;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100%;
    text-align: center;
    width: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
    background-color: #15202B;
}

h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 2em;
}

p {
    margin: 0 auto;
    width: 280px;
}

/* Link state colors */
a:link {
    color: #082840;
}
a:active {
    color: #5f2b48;
}

a:visited {
    color: #17050F;
}



@media only screen and (max-width: 280px) {
    body,
    p {
        width: 95%;
    }
    h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
    }
}
