<!-- Adam DJ Brett Personal Detailed Schema -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Person",
      "@id": "https://adamdj.tel",
      "additionalName": ["adjb", "Adam Brett"],
      "address": { "@type": "PostalAddress", "addressCountry": "US", "addressLocality": "Syracuse", "addressRegion": "NY", "postalCode": "13244", "streetAddress": "501 Hall of Languages" },
      "affiliation": {
          "@type": "CollegeOrUniversity",
          "@id": "http://syr.edu/",
          "alternateName": ["Syracuse", "Syracuse University", "SU"],
          "areaServed": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
          "department": {
              "@type": "EducationalOrganization",
              "@id": "https://artsandsciences.syracuse.edu/religion/",
              "alternateName": ["Department of Religion at Syracuse University", "Religious Studies at Syracuse University", "Department of Religious Studies"],
              "areaServed": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
              "description": "The Department of Religion in the College of Arts and Sciences emphasizes cultural and theoretical approaches to the study of religion, and draws attention to the relationship of religion with literature, art, history, psychology, politics and philosophy. Students are encouraged to investigate both the religious dimensions of secular culture (film and music, for example) and traditional religions as cultural phenomena.",
              "email": "relchair@syr.edu",
              "image": "https://adamdjbrett.com/assets/img/b_HofL_Winter2013_banner1500px.jpg",
              "logo": "https://adamdjbrett.com/assets/img/SU-religion.jpg",
              "name": "Department of Religion",
              "parentOrganization": "1",
              "sameAs": ["https://twitter.com/religionSU", "https://www.facebook.com/SUreligiondepartment", "https://www.instagram.com/religionsyracuse/"],
              "serviceArea": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
              "telephone": "+1 (315) 443-3863",
              "url": "https://artsandsciences.syracuse.edu/religion/"
          },
          "description": "From its founding in 1870, Syracuse University has a proud tradition of providing an environment in which students from diverse backgrounds come together to create, grow, and break boundaries.\r\n",
          "email": "sunews@syr.edu",
          "image": [
              "https://www.vipstructures.com/wp-content/uploads/2017/09/Hall-of-Languages_Resized-copy-min.jpg",
              "https://artsandsciences.syracuse.edu/media/images/Hall_of_Languages_night.original.jpg",
              "https://calendar.syracuse.edu/wp-content/uploads/quad-calendar-1600x1066.jpg",
              "http://utreview2013.syr.edu/pictures/SUQuad0001.jpg",
              "https://artsandsciences.syracuse.edu/media/images/JNB_HallOfLanguages_00017.original.jpg"
          ],
          "logo": "https://upload.wikimedia.org/wikipedia/en/b/bf/Syracuse_University_seal.svg",
          "name": "Syracuse University",
          "sameAs": ["http://www.youtube.com/user/Syracuse", "http://instagram.com/syracuseu/", "https://www.facebook.com/syracuseuniversity", "https://twitter.com/SyracuseU"],
          "telephone": "+1 (315) 443-1870",
          "url": "http://syr.edu"
      },
      "alternateName": "Adam DJ Brett",
      "alumniOf": [
          {
              "@type": "EducationalOrganization",
              "@id": "http://brite.edu/",
              "alternateName": "Brite Divinity School at Texas Christian University",
              "description": "Brite Divinity School educates women and men to lead in the ministry of Christ's church, the academy, and public life as witnesses to God?s reconciling and transforming love and justice.",
              "image": [
                  "https://brite.edu/static/img/brite-branding-light.png",
                  "https://brite.edu/static/img/brite-branding-dark.png",
                  "https://brite.edu/static/img/icons/brand-flame.svg"  
              ],
              "logo": "https://brite.edu/static/img/icons/brand-flame.svg",
              "name": "Brite Divinity School",
              "sameAs": ["https://www.facebook.com/britedivinity/", "https://twitter.com/britedivinity/", "https://www.instagram.com/britedivinity/", "https://www.youtube.com/channel/UC8xcDApf1bQUR1f5uCrXHYw"],
              "url": "http://brite.edu"
          },
          {
              "@type": "CollegeOrUniversity",
              "@id": "http://syr.edu/",
              "alternateName": ["Syracuse", "SU"],
              "areaServed": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
              "department": {
                  "@type": "EducationalOrganization",
                  "@id": "https://artsandsciences.syracuse.edu/religion/",
                  "alternateName": ["Religion at Syracuse University", "Religious Studies at Syracuse University", "Department of Religious Studies"],
                  "areaServed": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
                  "description": "The Department of Religion in the College of Arts and Sciences emphasizes cultural and theoretical approaches to the study of religion, and draws attention to the relationship of religion with literature, art, history, psychology, politics and philosophy. Students are encouraged to investigate both the religious dimensions of secular culture (film and music, for example) and traditional religions as cultural phenomena.",
                  "email": "dbpratt@syr.edu",
                  "image": "https://adamdjbrett.com/assets/img/b_HofL_Winter2013_banner1500px.jpg",
                  "logo": "https://adamdjbrett.com/assets/img/SU-religion.jpg",
                  "name": "Department of Religion",
                  "parentOrganization": "1",
                  "sameAs": ["https://twitter.com/religionSU", "https://www.facebook.com/SUreligiondepartment", "https://www.instagram.com/religionsyracuse/"],
                  "serviceArea": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
                  "telephone": "+1 (315) 443-3863",
                  "url": "https://artsandsciences.syracuse.edu/religion/"
              },
              "description": "From its founding in 1870, Syracuse University has a proud tradition of providing an environment in which students from diverse backgrounds come together to create, grow, and break boundaries.\r\n",
              "email": "sunews@syr.edu",
              "image": [
                "https://www.vipstructures.com/wp-content/uploads/2017/09/Hall-of-Languages_Resized-copy-min.jpg",
                "https://artsandsciences.syracuse.edu/media/images/Hall_of_Languages_night.original.jpg",
                "https://calendar.syracuse.edu/wp-content/uploads/quad-calendar-1600x1066.jpg",
                "http://utreview2013.syr.edu/pictures/SUQuad0001.jpg",
                "https://artsandsciences.syracuse.edu/media/images/JNB_HallOfLanguages_00017.original.jpg"
              ],
              "logo": "https://upload.wikimedia.org/wikipedia/en/a/ad/Syracuse_University_Seal.svg",
              "name": "Syracuse University",
              "sameAs": ["http://www.youtube.com/user/Syracuse", "http://instagram.com/syracuseu/", "https://www.facebook.com/syracuseuniversity", "https://twitter.com/SyracuseU"],
              "telephone": "+1 (315) 443-1870",
              "url": "http://syr.edu"
          }
      ],
      "brand": {
          "@type": "CollegeOrUniversity",
          "@id": "http://syr.edu/",
          "alternateName": ["Syracuse", "SU"],
          "areaServed": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
          "department": {
              "@type": "EducationalOrganization",
              "@id": "https://artsandsciences.syracuse.edu/religion/",
              "alternateName": ["Religion at Syracuse University", "Religious Studies at Syracuse University", "Department of Religious Studies"],
              "areaServed": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
              "description": "The Department of Religion in the College of Arts and Sciences emphasizes cultural and theoretical approaches to the study of religion, and draws attention to the relationship of religion with literature, art, history, psychology, politics and philosophy. Students are encouraged to investigate both the religious dimensions of secular culture (film and music, for example) and traditional religions as cultural phenomena.",
              "email": "dbpratt@syr.edu",
              "image": "https://adamdjbrett.com/assets/img/b_HofL_Winter2013_banner1500px.jpg",
              "logo": "https://adamdjbrett.com/assets/img/SU-religion.jpg",
              "name": "Department of Religion",
              "parentOrganization": "1",
              "sameAs": ["https://twitter.com/religionSU", "https://www.facebook.com/SUreligiondepartment", "https://www.instagram.com/religionsyracuse/"],
              "serviceArea": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
              "telephone": "+1 (315) 443-3863",
              "url": "https://artsandsciences.syracuse.edu/religion/"
          },
          "description": "From its founding in 1870, Syracuse University has a proud tradition of providing an environment in which students from diverse backgrounds come together to create, grow, and break boundaries.\r\n",
          "email": "sunews@syr.edu",
          "image": [
            "https://www.vipstructures.com/wp-content/uploads/2017/09/Hall-of-Languages_Resized-copy-min.jpg",
            "https://artsandsciences.syracuse.edu/media/images/Hall_of_Languages_night.original.jpg",
            "https://calendar.syracuse.edu/wp-content/uploads/quad-calendar-1600x1066.jpg",
            "http://utreview2013.syr.edu/pictures/SUQuad0001.jpg",
            "https://artsandsciences.syracuse.edu/media/images/JNB_HallOfLanguages_00017.original.jpg"
          ],
          "logo": "https://upload.wikimedia.org/wikipedia/en/a/ad/Syracuse_University_Seal.svg",
          "name": "Syracuse University",
          "sameAs": ["http://www.youtube.com/user/Syracuse", "http://instagram.com/syracuseu/", "https://www.facebook.com/syracuseuniversity", "https://twitter.com/SyracuseU"],
          "telephone": "+1 (315) 443-1870",
          "url": "http://syr.edu"
      },
      "colleague": [
          "https://aila.ngo",
          "https://aila.social",
          "https://aileenmitchelllawrimore.com/",
          "https://artsandsciences.syracuse.edu/people/faculty/arnold-philip-p/",
          "https://artsandsciences.syracuse.edu/people/faculty/braiterman-zachary-j/",
          "https://davidbrett.im",
          "https://desecratingthesacred.com/",
          "https://doctrineofdiscovery.org",
          "https://dominationchronicles.com/",
          "https://eileencampbellreed.org/",
          "https://indigenouslawinstitute.com/",
          "https://indigenousvalues.org",
          "https://jewishphilosophyplace.com",
          "https://kaitlynstarbrett.com/",
          "https://katepollackresumes.com/",
          "https://lakeback.org",
          "https://lyons.chat",
          "https://nabpr.org/",
          "https://originalfreenations.com/",
          "https://peterderrico.substack.com/",
          "https://rebekkaking.com/",
          "https://rutheverhart.com/",
          "https://stephaniewyatt.net",
          "https://stevennewcomb.com/",
          "https://stevennewcomb.substack.com/",
          "https://wocati.org",
          "https://www.alexanderosmith.com/",
          "https://www.bleaktheology.com/",
          "https://www.galensgames.com/",
          "https://www.jordanbradyloewen.com/",
          "https://www.looknowproject.org/",
          "https://www.michellecronin.net/",
          "https://www.mtsu.edu/philosophy/faculty.php"
      ],
      "description": "Adam DJ Brett has a PhD in Religion from Syracuse University. He also holds a ThM and MTS from Brite Divinity School at Texas Christian University and a BA from Warner University.",
      "disambiguatingDescription": "Adam DJ Brett earned a PhD in religion from the Syracuse Unviersity Deaprtment of Religion. His research focused on Religion in the Americas and Indigenous religions",
      "email": "info@adamdjbrett.com",
      "familyName": "Brett",
      "gender": "Male",
      "givenName": "Adam",
      "image": "https://www.adamdjbrett.com/assets/img/adam-dj-brett-256x256-min.jpg",
      "jobTitle": "Ph.D.",
      "name": "Adam DJ Brett",
      "nationality": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
      "sameAs": [
          "https://about.me/adamdjbrett",
          "https://adjb.carrd.co/",
          "https://syr.academia.edu/AdamBrett",
          "https://adamdjbrett.com/",
          "http://adjb.co",
          "https://aila.ngo/staff-and-board/",
          "https://artsandsciences.syracuse.edu/people/part-time/adam-dj-brett/",
          "https://www.unitedlutheranseminary.edu/staff/adam-brett/",
          "https://bsky.app/profile/adjb.co",
          "https://d-nb.info/gnd/133985774X",
          "https://www.buymeacoffee.com/adamdjbrett",
          "https://dev.to/adamdjbrett",
          "https://doctrineofdiscovery.org/authors/adam-dj-brett",
          "https://www.facebook.com/adamdjbrett",
          "https://github.com/adamdjbrett",
          "https://goodfaithmedia.org/author/adam-dj-brett/",
          "http://en.gravatar.com/adamdjbrett",
          "https://hcommons.org/members/adamdjbrett/",
          "https://hcommons.social/@adjb",
          "https://invitation.app/@adjb",
          "https://indigenousvalues.org/author/adamdjbrett/",
          "https://www.instagram.com/__adjb/",
          "https://ixtheo.de/AuthorityRecord/1899401016",
          "https://www.instagram.com/__adjb/",
          "https://ko-fi.com/adamdjbrett",
          "https://linkedin.com/in/adamdjbrett",
          "https://w1.mtsu.edu/faculty/adam-dj-brett",
          "https://nabpr.org/officers/",
          "https://adjb.omg.lol/",
          "https://opencollective.com/adamdjbrett",
          "https://orcid.org/0009-0004-6725-8425",
          "https://philpeople.org/profiles/adam-dj-brett",
          "https://www.pinterest.com/adamdjbrett/",
          "https://podcast.doctrineofdiscovery.org/authors/adamdjbrett",
          "https://en.pronouns.page/@adamdjbrett",
          "https://adjb.proven.lol",
          "https://relbib.de/AuthorityRecord/1899401016",
          "https://www.researchgate.net/profile/Adam-Brett-2",
          "https://www.semanticscholar.org/author/Adam-DJ-Brett/2316574594",
          "https://scholar.google.com/citations?user=RDtqciQAAAAJ",
          "https://sciprofiles.com/profile/adamdjbrett",
          "https://social.lol/@adjb",
          "https://spoutible.com/adamdjbrett",
          "https://adjb.status.lol/",
          "https://www.threads.net/@__adjb",
          "https://twitter.com/__adjb",
          "https://www.youtube.com/channel/UCEoUGk8nGde5XKGhkqgnVCQ",
          "https://www.webofscience.com/wos/author/record/LZI-4565-2025",
          "https://www.zotero.org/adamdjbrett"
      ],
      "spouse": {
          "@type": "Person",
          "@id": "http://stephaniewyatt.net/",
          "additionalName": "Stephanie Wyatt",
          "alumniOf": {
              "@type": "EducationalOrganization",
              "@id": "http://brite.edu/",
              "alternateName": "Brite Divinity School at Texas Christian University",
              "description": "Brite Divinity School educates women and men to lead in the ministry of Christ's church, the academy, and public life as witnesses to God?s reconciling and transforming love and justice.",
              "image": [
                  "https://brite.edu/static/img/brite-branding-light.png",
                  "https://brite.edu/static/img/brite-branding-dark.png",
                  "https://brite.edu/static/img/icons/brand-flame.svg"  
              ],
              "logo": "https://brite.edu/static/img/icons/brand-flame.svg",
              "name": "Brite Divinity School",
              "sameAs": ["https://www.facebook.com/britedivinity/", "https://twitter.com/britedivinity/", "https://www.instagram.com/britedivinity/", "https://www.youtube.com/channel/UC8xcDApf1bQUR1f5uCrXHYw"],
              "url": "http://brite.edu"
          },
          "colleague": "Stephanie M. Wyatt",
          "email": "stephanie@stephaniewyatt.net",
          "familyName": "Wyatt",
          "givenName": "Stephanie M.",
          "honorificPrefix": "Rev.",
          "honorificSuffix": "Ph.D.",
          "image": "https://stephanieywatt.net/assets/images/Pastor-Stephanie-M-Wyatt-sm.jpg",
          "name": "Stephanie Wyatt",
          "sameAs": [
              "https://about.me/swyatt79",
              "http://stephaniewyatt.in",
              "http://orcid.org/0000-0002-4472-5316",
              "https://scholar.google.com/citations?user=43gFBr8AAAAJ",
              "https://tcu.academia.edu/StephanieWyatt",
              "https://www.linkedin.com/in/stephaniemwyatt",
              "http://stephaniewyatt.tel/"
          ],
          "url": "http://stephaniewyatt.net"
      },
      "telephone": "+1 (817) 760-0292",
      "workLocation": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
      "worksFor": {
          "@type": "EducationalOrganization",
          "@id": "https://artsandsciences.syracuse.edu/religion/",
          "alternateName": ["Religion at Syracuse University", "Religious Studies at Syracuse University", "Department of Religious Studies"],
          "areaServed": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
          "description": "The Department of Religion in the College of Arts and Sciences emphasizes cultural and theoretical approaches to the study of religion, and draws attention to the relationship of religion with literature, art, history, psychology, politics and philosophy. Students are encouraged to investigate both the religious dimensions of secular culture (film and music, for example) and traditional religions as cultural phenomena.",
          "email": "dbpratt@syr.edu",
          "image": "https://adamdjbrett.com/assets/img/b_HofL_Winter2013_banner1500px.jpg",
          "logo": "https://adamdjbrett.com/assets/img/SU-religion.jpg",
          "name": "Department of Religion",
          "parentOrganization": "1",
          "sameAs": ["https://twitter.com/religionSU", "https://www.facebook.com/SUreligiondepartment", "https://www.instagram.com/religionsyracuse/"],
          "serviceArea": { "@type": "Country", "@id": "https://en.wikipedia.org/wiki/United_States", "name": "US" },
          "telephone": "+1 (315) 443-3863",
          "url": "https://artsandsciences.syracuse.edu/religion/"
      }
  }
</script>