---
permalink: /robots.txt
eleventyExcludeFromCollections: true
layout: false
---
# Allow crawling of all content
User-agent: *
Allow: /
Disallow: /googlebfdcfddbdbfcbd99.html

Sitemap: {{ metadata.url }}/sitemap.xml
