---
permalink: /robots.txt
eleventyExcludeFromCollections: true
layout: false
---
# Allow crawling of all content
User-agent: *
Allow: /
Disallow: /BingSiteAuth.xml
Disallow: /feed/
Disallow: /googlebfdcfddbdbfcbd99.html
Disallow: /pinterest-cca81.html
Disallow: /yandex_c53e40cc8a50587d.html

Sitemap: {{ metadata.url }}/sitemap.xml
