<!doctype html>
<html lang="{{site.og_locale}}">
<head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% set css %}
      {% include "../css/404.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | cssmin | safe }}
    </style>
</head>
<body>
    <h1>Page Not Found</h1>
    <p><a href="/" title="{{site.title}}" rel="noopener">⬅︎ Return Home</a>.</p>
    <p>&nbsp;</p>
    <footer>Built with <a href="http://11ty.dev" rel="noopener">Eleventy</a>.</footer>
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
