<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title or metadata.title }}</title>
<meta name="description" content="{{ description or metadata.description }}">
<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
<link rel="canonical" href="{{metadata.url}}">
{% if site.favicon_img %}
<link rel="shortcut icon" href="{{metadata.favicon}}" />
{% endif %}
<!-- Google Analytics Disabled
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PPJZ35N5EP"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-PPJZ35N5EP');
</script>
-->
<meta name="twitter:title" content="{{metadata.title}}">
<meta name="twitter:description" content="{{ metadata.description }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ metadata.avatar }}">
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.twitter_username }}">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{{metadata.title}}">
<meta property="og:description" content="{{ metadata.description }}">
<meta property="og:url" content="{{ metadata.url }}">
<meta property="fb:admins" content="adamdjbrett"/>
<meta property="fb:app_id" content="138858296188819"/>
<meta property="og:site_name" content="{{ metadata.title }}">
<meta property="og:image" content="{{ metadata.avatar }}">
<meta property="og:image" content="{{metadata.avatar}}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1920" />
<meta property="og:image:height" content="1080" />
<meta property="og:image:alt" content="{{metadata.title}}" />
<meta name="generator" content="{{ eleventy.generator }}"> 
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/main.css">
<link defer rel="stylesheet" href="/css/404.css">
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com" />
</head>
<body>
<div class="content">
{% if metadata.cover %}<img src="{{metadata.cover}}" alt="{{metadata.title}}" id="fullscreen">{% endif %}
{% if metadata.avatar %}<img src="{{metadata.avatar}}" alt="{{metadata.title}}" id="avatar">{% endif %}
<h1>{{metadata.title}}</h1><br/>
<h2 style="color:white; padding:8px;">{{metadata.description}}</h2>
</div>
<ul>
{% for s in metadata.social %}
<li>
<a href="{{s.link}}" title="{{s.description}}" aria-label="{{s.description}}"><i  class="{{s.icon}} fa-2x"></i>
<span class="description">{{s.description}}</span>
</a>
</li>
{% endfor %}
</ul>
<p class="footer-text">{% if metadata.footer.copyrights %}{{metadata.footer.copyrights}}{% endif %} {% if metadata.footer.text_link %}<a class="des" href="{{metadata.footer.url}}">{{metadata.footer.text_link}}</a>{% endif %} , Powered by <a class="des" href="https://11ty.dev">11ty</a></p>
<!-- outputs all the icons used on the page -->
{% getBundle "fontawesome" %}
</body>
</html>
